module.exports = {
    ethol: {
        email: "email@it.student.pens.ac.id",
        password: "password",
    },
    whatsapp: {
        phone: "62812345678",
        enable: true,
        url: "http://whatsapp.service", // di sarankan menggunakan baileys bot
    },
};